[Unit] 
Description=Stock.MatchingEngine

[Service]
WorkingDirectory=/var/stock-matching-engine/
ExecStart=/usr/bin/dotnet /var/stock-matching-engine/MatchingEngine.dll
Restart=always
RestartSec=10
SyslogIdentifier=stock-matching-engine
User=root
Environment=ASPNETCORE_ENVIRONMENT=Development

[Install] 
WantedBy=multi-user.target